// -----------------------------------------------------------------------------
// button.scss
// -----------------------------------------------------------------------------

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	background-color: var(--colour-background);
	color: var(--colour-foreground);
	padding: 16px 26px;
	cursor: pointer;
	outline: none;
	font-size: 1rem;
	font-weight: 500;
	height: auto;
	user-select: none;
	line-height: 1;
	border: 2px solid var(--colour-foreground);
	border-radius: 6px;
	text-decoration: none;
	transition: box-shadow 160ms ease;
	will-change: box-shadow;

	// Container
	// =========================================================================

	&-container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	// Filled
	// =========================================================================

	&-filled {
		background-color: var(--colour-foreground);
		color: white;
	}

	// Block
	// =========================================================================

	&-block {
		width: 100%;
		text-align: center;
		justify-content: center;
	}

	// Hover
	// =========================================================================

	@include media-desk {
		&:hover {
			box-shadow: 8px 8px 15px rgba(70, 70, 70, 0.3);
		}
	}

	// Loading
	// =========================================================================

	&-loading {
		pointer-events: none;

		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}

		&::after {
			content: '';
			width: 18px;
			height: 18px;
			border: 2px solid rgba(0, 0, 0, 50%);
			border-right-color: transparent !important;
			border-radius: 50%;
			display: inline-block;
			animation-duration: 0.75s;
			animation-iteration-count: infinite;
			animation-name: spinner;
			animation-timing-function: linear;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -9px;
			margin-top: -9px;
		}

		&:hover {
			box-shadow: none;
		}
	}
}
