// -----------------------------------------------------------------------------
// collapse.scss
// -----------------------------------------------------------------------------

.collapse {
	$self: &;
	position: relative;
	display: flex;
	flex-direction: column;

	// Item
	// =========================================================================

	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		position: relative;
		outline: none;

		::marker {
			content: '';
			display: none;
		}

		&::after {
			content: '';
			display: block;
			background: var(--colour-gradient-multi);
			height: 1px;
			width: 100%;
		}
	}

	// Header
	// =========================================================================

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.2rem 0;
		user-select: none;
		outline: none;

		* {
			margin-bottom: 0;
		}

		&:hover #{$self}-title {
			color: rgba(0, 0, 0, 0);
		}
	}

	// Animation
	// =========================================================================

	@keyframes rainbow {
		0% {
			background-position:left
		}
		50% {
			background-position:right
		}
		100% {
			background-position:left
		}
	}

	// Title
	// =========================================================================

	&-title {
		background: var(--colour-gradient-multi);
		background-size: 200% 200%;
		background-clip: text;
		transition: color 200ms ease-in-out;
		will-change: color;
		// See: https://codepen.io/bsander/pen/pPpbNm
		animation: rainbow 2.4s ease-in-out infinite;
	}

	// Icon
	// =========================================================================

	&-arrow {
		display: inline-block;
		width: 0.9rem;
		transition: transform 200ms ease;
	}

	// Content
	// =========================================================================

	&-content {
		display: block;
		max-height: 0;
		transition: 0.5s !important;
		will-change: max-height;
		overflow: hidden;

		&-inner {
			padding-bottom: 1.2rem;
		}
	}

	// Active
	// =========================================================================

	&-item-active {

		#{$self}-title {
			color:rgba(0,0,0,0);
			animation-play-state: paused;
		}

		#{$self}-arrow {
			transform: rotate(180deg);
		}
	}
}
