// -----------------------------------------------------------------------------
// form.scss
// -----------------------------------------------------------------------------

.form {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: var(--colour-background);
	border: 1px solid var(--colour-border);
	border-radius: 6px;
	padding: 2.4rem;
	box-shadow: var(--shadow-expanded);

	// Group
	// =========================================================================

	&-group {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 1.4rem;
	}

	// Input
	// =========================================================================

	&-input {
		border: 1px solid var(--colour-border);
		border-radius: 6px;
		padding: 0.7rem 0.9rem;
		outline: none;
		color: var(--colour-copy);
		font-size: var(--type-paragraph-size);
		line-height: var(--type-paragraph-line-height);
		letter-spacing: -0.005rem;

		&:focus {
			border: 1px solid red;
		}
	}

	// Textarea
	// =========================================================================

	textarea {
		resize: vertical;
	}

	// Label
	// =========================================================================

	&-label {
		font-size: 0.9rem;
		font-weight: 500;
		margin-bottom: -2px;
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		max-width: 520px;
	}
}
