// -----------------------------------------------------------------------------
// form.scss
// -----------------------------------------------------------------------------

.form {

	// Group
	// =========================================================================

	&-group {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 1rem;
	}

	// Input
	// =========================================================================

	&-input {
		border: 1px solid var(--colour-test);
		border-radius: 6px;
		padding: 0.9rem;
		outline: none;
	}

	// Label
	// =========================================================================

	&-label {
		font-size: 0.9rem;
		font-weight: bold; // TODO medium

	}
}
