// -----------------------------------------------------------------------------
// group.scss
// -----------------------------------------------------------------------------

.group {
	margin-bottom: var(--spacing-default);

	*:last-child {
		margin-bottom: 0;
	}

	// Mods
	// =========================================================================

	&-centre * {
		text-align: center;
	}

	&-large {
		margin-bottom: 5rem;
	}
}
