ul,
ol {
	margin: 0;
	padding: 0;
}

ol {
	counter-reset: list-counter;
	list-style: none;

	li {
		counter-increment: list-counter;

		&::before {
			content: counter(list-counter) ")";
			margin-right: 8px;
			font-weight: bold;
		}
	}
}
