// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

html {
	scroll-behavior: initial;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: var(--font-main), sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-kerning: normal;
	scroll-padding-top: var(--header-height);
	overscroll-behavior: none;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: var(--colour-background);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.no-js {
	.js-hide {
		display: none !important;
	}

	.lazy {
		display: none !important;
	}

	* {
		transition: none !important;
	}
}
