// -----------------------------------------------------------------------------
// section.scss
// -----------------------------------------------------------------------------

.section {
	position: relative;
	padding-bottom: var(--section-margin);

	// Mods
	// ==========================================================================

	&-padding-top {
		padding-top: var(--section-margin);
	}

	// Colour
	// ==========================================================================

	&-dark {
		background-color: var(--colour-foreground);

		* {
			color: var(--colour-background);
		}

		h6,
		p {
			color: var(--colour-copy-dark);
		}
	}

	// Fades
	// ==========================================================================

	&-fade-pink {
		background: linear-gradient(to bottom, #FFE5F2 0%, #FEF3F1 57%, var(--colour-background) 100%);
	}
}

