// -----------------------------------------------------------------------------
// section.scss
// -----------------------------------------------------------------------------

.section {
	position: relative;


	// Mods
	// ==========================================================================

	&-padding {
		padding-bottom: var(--section-margin);
	}

	&-padding-top {
		padding-top: var(--section-margin);
	}

	// Colour
	// ==========================================================================

	&-dark {
		background-color: var(--colour-foreground);

		* {
			color: var(--colour-background);
		}

		h6,
		p {
			color: var(--colour-copy-dark);
		}
	}

	// Fades
	// ==========================================================================

	&-fade {
		padding-top: var(--section-margin);

		&-pink {
			padding-top: var(--section-margin);
			background: linear-gradient(to bottom, #FFE5F2 0%, #FEF3F1 57%, var(--colour-background) 100%);
		}

		&-blue {
			padding-top: var(--section-margin);
			background: linear-gradient(to bottom, #F2F8FF 0%, #F8FCFF 55%, var(--colour-background) 100%);
		}
	}
}

