// -----------------------------------------------------------------------------
// section.scss
// -----------------------------------------------------------------------------

.section {
	position: relative;
	padding-bottom: var(--section-margin);

	// Colour
	// ==========================================================================

	&-dark {
		background-color: var(--colour-foreground);

		* {
			color: var(--colour-background);
		}

		h6,
		p {
			color: var(--colour-copy-dark);
		}
	}
}
