package pages

import (
	"fmt"
	"github.com/ainsleydev/sclark.uk/views/layouts"
)

type ErrorProps struct {
	Code    int
	Message string
}

templ Error(props ErrorProps) {
	@layouts.Base() {
		<h1>Error</h1>
		<h3>Message: { props.Message }</h3>
		<h3>Code: { fmt.Sprintf("%d", props.Code) }</h3>
	}
}
