// -----------------------------------------------------------------------------
// footer.scss
// -----------------------------------------------------------------------------

.footer {
	background-color: var(--colour-foreground);

	// Sub
	// =========================================================================

	&-sub {
		position: relative;
		padding: 2rem 0;
		border-top: 1px solid var(--colour-grey-dark);

		&-inner {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		* {
			margin-bottom: 0;
		}
	}

	// Main
	// =========================================================================

	&-main {
		position: relative;
		overflow-x: clip;

		&-container {
			position: relative;
			padding-top: clamp(40px, 15vw, 120px);
		}
	}

	// Nav
	// =========================================================================

	&-nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 2rem;
		list-style: none;
		margin-top: 1.4rem;

		&-link {
			text-decoration: none;
			font-weight: 500;
			@include h5;
		}
	}

	// Contact
	// =========================================================================

	&-contact {
		display: grid;
		flex-direction: column;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;

		&-item:nth-child(3) {
			grid-column: span 2;
			margin-bottom: var(--spacing-m);
		}
	}

	// Logo
	// =========================================================================

	&-logo {
		max-width: clamp(120px, 12vw, 10px);
	}

	// Illustration
	// =========================================================================

	&-illustration {
		position: relative;
		display: block;
		width: 90%;
		margin-right: 0;
		margin-left: auto;
		max-width: 600px;
		margin-top: -2rem;

		img {
			width: 100%;
			height: auto;
		}
	}

	@include media-tab-down {

		&-nav {
			grid-row-gap: 2.4rem;
		}

		&-sub-inner {
			flex-direction: column;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

		&-main {

			&-container {
				padding-bottom: clamp(40px, 15vw, 120px);
			}

			&-left {
				max-width: 580px;
			}

			&-right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 1rem;
			}
		}

		&-contact-item:last-child {
			margin-bottom: 0;
		}

		&-nav {
			margin-top: var(--spacing-l);
			grid-column-gap: 1rem;
		}

		&-illustration {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
