package partials

import (
//	"fmt"

//	"github.com/ainsleydev/webkit/pkg/adapters/payload"
)

//     {{ settings := payload.MustGetSettings(ctx) }}

templ Footer() {
	<footer class="footer">
	    <h1>Test</h1>
		<div class="footer-content">
			<p>Footer Content hhhhh</p>
			//if settings.Social != nil {
			 //   { fmt.Sprintf("here,es: %#v", settings.Social) }
			//}
		</div>
	</footer>
}
