// -----------------------------------------------------------------------------
// header.scss
// -----------------------------------------------------------------------------

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(#fff, 0.3);
	z-index: var(--header-z-index);
	transition: all 200ms ease;
	backdrop-filter: blur(2px);

	// Container
	// =========================================================================

	&-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--header-height);
	}

	// Logo
	// =========================================================================

	&-logo {
		z-index: calc(var(--header-z-index) + 20);

		svg {
			vertical-align: middle;
			width: clamp(80px, 10vw, 80px);
		}
	}

	// Scrolled
	// =========================================================================

	&-scrolled {
		box-shadow: 0 3px 16px rgba(0, 0, 0, 10%), 0 3px 12px rgba(0, 0, 0, 14%);
	}
}

.hamburger {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	user-select: none;
	visibility: visible;
	z-index: calc(var(--header-z-index) + 20);

	// Button
	// =========================================================================

	&-btn {
		position: absolute;
		top: -100%;
		left: -100%;

		&:checked ~ .nav {
			opacity: 1;
			visibility: visible;
			transition: opacity 700ms, visibility 700ms step-start;
		}

		&:checked ~ .hamburger {

			.hamburger-inner {
				background: transparent;

				&::before {
					transform: rotate(-45deg);
				}

				&::after {
					transform: rotate(45deg);
				}

				&::before,
				&::after {
					top: 0;
				}
			}
		}
	}

	// Inner
	// =========================================================================

	&-inner {
		background: #333;
		display: block;
		height: 2px;
		width: 24px;
		position: relative;

		&:before {
			top: 7px;
		}

		&:after {
			top: -7px;
		}

		&:before,
		&:after {
			background: #333;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			transition: all .2s ease-out;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		display: none;
	}
}
