.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	padding: 0 7vw;
	background-color: transparent;

	.header-logo svg {
		width: 80px;
	}

	@media (min-width: 768px) {
		opacity: 1;
	}

	/*&-scrolled {*/
	/*	//background-color: $header-scrolled-bg-color;*/
	/*	box-shadow:*/
	/*		0 3px 6px rgba(0, 0, 0, 10%),*/
	/*		0 3px 6px rgba(0, 0, 0, 23%);*/
	/*}*/
}
