.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	background-color: red;
	width: 100vw;

	@media (min-width: 768px) {
		opacity: 1;
	}

	/*&-scrolled {*/
	/*	//background-color: $header-scrolled-bg-color;*/
	/*	box-shadow:*/
	/*		0 3px 6px rgba(0, 0, 0, 10%),*/
	/*		0 3px 6px rgba(0, 0, 0, 23%);*/
	/*}*/
}
