.nav {
	position: relative;

	.nav-list {
		display: flex;
		align-items: center;
		gap: 2rem;
		list-style: none;
	}

	.nav-item {
		margin-bottom: 0;

		&:hover {
			.nav-link {
				color: red;
			}
		}
	}

	.nav-link {
		text-decoration: none;
		color: var(--colour-copy);
		font-weight: normal;
	}

	.nav-btn {
		height: 45px;
		padding-top: 0;
		padding-bottom: 0;
	}
}
