// -----------------------------------------------------------------------------
// blocks.scss
// -----------------------------------------------------------------------------

.blocks {
	$self: &;

	// Item
	// ==========================================================================

	&-item {
		position: relative;
		padding-bottom: var(--section-margin);

		&-content + &-content-with-image {
			margin-top: calc(var(--section-margin) * -1);
		}

		&-gradient {
			padding-bottom: 0;
		}

		&-contact + &-logos {

			@at-root #{$self}-item-contact {
				padding-bottom: var(--spacing-xl);
			}
		}

		&-logos + .footer {

			@at-root #{$self}-item-logos {
				padding-bottom: 0;
			}
		}

		// Make sure thumbs up doesn't take over.
		&-reviews + & {
			z-index: 100;
		}
	}

	@include media-tab {

		&-item {

			&-content + &-content-with-image {
				padding-top: var(--spacing-l);
			}
		}
	}

	// Desktop
	// ==========================================================================

	@include media-desk {

		&-item {

			&-content + &-content-with-image {
				padding-top: var(--section-margin-small);
			}
		}
	}
}
