// -----------------------------------------------------------------------------
// hero.scss
// -----------------------------------------------------------------------------

.hero {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: calc(var(--header-height) + 20px);
	padding-bottom: var(--section-margin);
	overflow-x: clip; // Temp

	// Row
	// =========================================================================

	&-row {
		position: relative;
		z-index: 99;
	}

	// Wrapper
	// =========================================================================

	&-wrapper {
		display: flex;
		height: calc(100vh - calc(var(--header-height) + 20px));
		justify-content: space-between;
		max-height: 900px;
		flex-direction: column;
	}

	// Scrabble
	// =========================================================================

	&-scrabble {
		position: relative;
		width: 120%;
		background-color: var(--colour-background);
		margin-bottom: var(--spacing-m);

		svg {
			width: 100%;
			height: 100%;
		}

		[class^='scrabble-word-'] {
			//display: block;
			//opacity: 0;
			//transform: translateY(-500px);
		}
	}

	// Gradient
	// =========================================================================

	&-gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	// Small Phones
	// =========================================================================

	@media (width <= 400px) {

		&-btns span {
			display: none;
		}
	}

	// Tablet Down
	// =========================================================================

	@include media-tab-down {

		&-wrapper {
			margin-bottom: var(--spacing-m);
		}

		&-gradient {
			width: 100%;
		}
	}

	// Tablet Only
	// =========================================================================

	@include media-tab-only {

		&-wrapper {
			height: auto;
			max-height: none;
		}

		&-scrabble {
			position: relative;
			width: 100%;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		@include full-height;
		max-height: 1200px;

		&-logos {
			margin-top: 200px;
		}

		&-lead {
			width: 70%;
		}

		&-wrapper {
			display: block;
			height: auto;
			max-height: none;
		}

		&-scrabble {
			position: absolute;
			top: 30%;
			width: 60%;
			right: -2rem;
			height: auto;
			transform: translateY(-50%);
			margin-bottom: 0;
		}
	}

	// Desktop Large
	// =========================================================================

	@include media-desk-large {

		&-lead {
			width: 100%;
		}
	}
}
