// -----------------------------------------------------------------------------
// hero.scss
// -----------------------------------------------------------------------------

.hero {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: var(--header-height);
	padding-bottom: var(--section-margin);

	// Row
	// =========================================================================

	&-row {
		position: relative;
		z-index: 99;
	}

	// Wrapper
	// =========================================================================

	&-wrapper {
		display: flex;
		height: calc(100vh - var(--header-height));
		justify-content: space-around;
		max-height: 900px;
		flex-direction: column;
	}

	// Scrabble
	// =========================================================================

	&-scrabble {
		position: relative;
		width: 120%;
		background-color: var(--colour-background);

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// Small Phones
	// =========================================================================

	@media (width <= 400px) {

		&-btns span {
			display: none;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		@include full-height;
		max-height: 1200px;

		&-logos {
			margin-top: 200px;
		}

		&-wrapper {
			display: block;
			height: auto;
			max-height: none;
		}

		&-scrabble {
			position: absolute;
			top: 50%;
			width: 60%;
			right: 0;
			height: auto;
			transform: translateY(-50%);
		}
	}
}
