// -----------------------------------------------------------------------------
// logos.scss
// -----------------------------------------------------------------------------

.logos {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.2rem;

	&-item {
		width: auto;
		display: inline-grid;
		align-items: center;
		justify-content: flex-start;
		max-height: 50px;
	}

	&-title {
		margin-bottom: var(--group-margin);
		flex-basis: 100%;
	}

	img {
		display: block;
		max-width: 260px;
	}

	//img {
	//	height: 60px;
	//	max-width: 120px;
	//}
}
