// -----------------------------------------------------------------------------
// logos.scss
// -----------------------------------------------------------------------------

.logos {
	$self: &;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.6rem;

	// Title
	// =========================================================================

	&-title {
		display: block;
		flex-basis: 100%;
		margin-bottom: 0.4rem;
	}

	// Item
	// =========================================================================

	&-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: auto;
		height: 46px;
		max-width: 160px;
		margin-right: 2rem;

		&:last-child {
			margin-right: 0;
		}
	}

	// Section
	// =========================================================================

	&-section {
		margin-bottom: var(--spacing-xl);

		#{$self} {
			justify-content: center;
		}

		#{$self}-title {
			text-align: center;
		}
	}

	// Image
	// =========================================================================

	img {
		display: block;
		max-width: 100%;
		height: 100%;
		object-fit: contain;
	}

	// Link
	// =========================================================================

	&-link {

		img {
			transition: transform 120ms ease-out;
		}

		&:hover img {
			transform: scale(1.2);
		}
	}

	// Mobile
	// =========================================================================

	@include media-tab-down {
		gap: 1.6rem;

		&-title {
			flex-basis: 100%;
		}

		&-item {
			width: 45%;
			margin-right: 0;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-hero {
			justify-content: flex-start;
		}
	}
}
