package blocks

templ Portfolio() {
	<section class="section">
		<div class="container">
			<!-- Intro -->
			<div class="row justify-content-center">
				<div class="col-12 col-tab-10 col-desk-6">
					<h2></h2>
					<p></p>
				</div><!-- /Col -->
			</div><!-- /Row -->
			<!-- Items -->
			<div class="row">


			</div>
		</div><!-- /Container -->
	</section>
}
