// -----------------------------------------------------------------------------
// portfolio.scss
// -----------------------------------------------------------------------------

.portfolio {

	// Column
	// ==========================================================================

	&-col {
		position: relative;
	}

	// Mobile Only
	// ==========================================================================

	@include media-mob-only {

		&-col {

			&:nth-child(even) {
				padding-left: calc(var(--grid-gap-width) / 2);
			}

			&:nth-child(odd) {
				padding-right: calc(var(--grid-gap-width) / 2);
			}
		}
	}

	// Desktop
	// ==========================================================================

	@include media-tab {

		&-col {
			margin-bottom: var(--spacing-l);

			&:last-child,
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
		}
	}
}

