package blocks

import "github.com/ainsleydev/sclark.uk/types"

templ Reviews(reviews []types.Reviews) {


	<div class="container">
		<div class="row">
			<div class="col-12">

			</div><!-- /Col -->
		</div><!-- /Row -->
	</div><!-- /Container -->

}
